<<<<<<< HEAD
<h1>Sample App</h1>
<p>
    This is the home page for the
  <a href="http://railstutorial.jp/">Ruby on Rails Tutorial</a>
=======
<% provide(:title, 'Home') %>
<h1>Sample App</h1>
<p>
    This is the home page for the
    <a href="http://railstutorial.jp/">Ruby on Rails Tutorial</a>
>>>>>>> b0feb5bcf4039af1ea19a7113f510fd3cb136d85
    sample application.
</p>